@import "tailwindcss";

:root {
  --background: #070707;
  --foreground: #f0eded;
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
